*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(188, 156, 230);
}
.weather-wrapper{
    max-width:1000px;
    margin: 0 auto;
}
.weather-picture{
    width:100%;
    height:400px;
    background-color: rgb(125, 72, 158);
    background-image: url('img/b.gif');
    background-position:0 -200px;
    background-repeat:no-repeat;
    background-size:cover;
    position: relative;
}
.weather-show{
    width: 100%;
    height:200px;
    background-color:rgb(132, 92, 197);
    color: #fff;
    border-top: 2px solid rgb(201, 106, 230);
}
.weather-picture .user-search{
    position: absolute;
    top:30px;
    left: 50px;
}
.user-search input{
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    font-size: 20px;    
}
::-moz-placeholder {color: rgb(236, 239, 241);}
::-webkit-input-placeholder {color: rgb(236, 239, 241);}
:-ms-input-placeholder {color: rgb(236, 239, 241);}
.user-location{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    text-align: center;
}
.loaction-icon>img{
    width:80px;
}
.location-name{
    margin:10px 0;
    font-size: 30px;
}
.today-weather{
    width:40%;
    height:100%;
    float: left;
    padding-left: 18px;
    font-size: 20px;
    font-weight: bold;
}
.today-weather .left{
    float: left;
    width:50%;  
    height: 100%;
    text-align: center; 
    margin-left: 10px;
    padding-top: 20px;
}
.left .weekday{
    margin-bottom:15px;
}
.left .tempt{
    font-size:38px;
    margin-top: 10px;
}
.today-date{
    text-align: center;
}
.today-weather .right{
    float: left;
    width:105px;
    height: 100%;
    text-align: center;
}
.weather-status1{
    margin-top: -13px;
    margin-bottom: 9px;
}
.weather-icon img{
    width:90%;
    margin-bottom: 10px;
}
.wind1 img{
    width:20px;
}
.future-weather{
    float: right;
    width:60%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
}
.future-weather ul{
    list-style: none;
}
.future-weather ul>li{
    border-left: 2px solid rgb(201, 106, 230);
    width:45%;
    height:148px;
    float:right;
    margin-left:5px;
    text-align: center;   
}
.future-weather ul>li div{
    margin-top:6px; 
}
.future-weather ul>li img{
    width:80px;
}
.author{
    color: #fff;
  text-align: center;
  margin-top: 15px
}

@media(max-width:768px){
    .weather-wrapper .weather-picture{
        width:100%;
        height:310px;
        background-image: url('img/b.gif');
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
        position: relative;
    }
}
@media(max-width:622px){
    .today-weather .left{
        float: left;
        width:40%;  
        height: 100%;
        text-align: center; 
        margin-left:0px;
        padding-top:0px;
    }
    .today-weather .right{
        float:right;
        width:80px;
        height: 100%;
        text-align: center;
    }
    .left .tempt{
        font-size:20px;
        margin-top:36px;
    }
}
@media(max-width:425px){
  .weather-wrapper .weather-picture{
        width:100%;
        height:300px;
        background-image: url('img/b.gif');
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
        position: relative;
    }
    .today-weather{
        width:40%;
        height:100%;
        float: left;
        padding-left:0px;
        font-size: 20px;
        font-weight: bold;
    }
    .today-weather .left{
        float: left;
        width:50%;  
        height: 100%;
        text-align: center; 
        margin-left:0px;
        padding-top:0px;
    }
    .left .weekday{
      padding-top: 10px;
      margin-bottom:30px;
    }
    .left .tempt{
        font-size:20px;
        margin-top:36px;
    }
    .today-date{
        text-align: center;
    }
    .today-weather .right{
        float:right;
        width:80px;
        height: 100%;
        text-align: center;
    }
    .weather-status1{
        margin-top: -13px;
        margin-bottom:23px;
    }
    .weather-icon img{
        width:90%;
        margin-bottom:20px;
    }
    .wind1 img{
        width:20px;
    }
}

@media(max-width:414px){
    .weather-wrapper .weather-picture{
        width:100%;
        height:270px;
        background-image: url('img/b.gif');
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
        position: relative;
    }
    .loaction-icon>img{
        width:70px;
    }
    .location-name{
        margin:10px 0;
        font-size:25px;
        font-weight: bold;
    }
}

@media(max-width:400px){
    .today-weather .right{
        float:right;
        width:40px;
        height: 100%;
        text-align: center;
    }
}
@media(max-width:375px){
    .today-weather .right{
        float:right;
        width:72px;
        height: 100%;
        text-align: center;
    }
    .loaction-icon>img{
        width:66px;
    }
    .location-name{
        margin:10px 0;
        font-size:20px;
        font-weight: bold;
    }
}
@media(max-width:360px){
    .weather-wrapper .weather-picture{
        width:100%;
        height:230px;
        background-image: url('img/b.gif');
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
        position: relative;
    }
    .today-weather .right{
        float:right;
        width:60px;
        height: 100%;
        text-align: center;
    }
    .loaction-icon>img{
        width:50px;
    }
    .location-name{
        margin:10px 0;
        font-size:20px;
        font-weight: bold;
    }
}
